<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div {
            height: 200px;
            width: 400px;
            position: fixed;
            top: 50%;
            left: 50%;
            margin-top: -100px;
            margin-left: -200px;
        }
        
        #name {
            height: 70px;
            width: 180px;
            font-weight: bolder;
        }
    </style>
</head>

<body>
    <div>
        <form action="/name" method="POST">
            <label for="name"><b><h2>Enter something</h2></b></label><br><br>
            <input type="text" id="name" name="name"><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>

</html>